@import "tailwindcss";


.container{
    width: 95%;
    margin-inline: auto;
}

.containerA{
	width: 95%;
	margin-inline: auto;
}

.btn-primary{
    @apply bg-blue-500 px-4 py-2 rounded text-white cursor-pointer
}

.btn-primary:hover{
    @apply bg-blue-600 transition-all duration-400
}
 
.input-primary{
    @apply px-4 py-2 rounded border focus:outline-none border-gray-300
}
.bg-brimary{
    @apply bg-blue-500
}


.form-control{
    @apply  focus:ring-0 focus:border-black max-[766px]:text-white w-full  rounded-lg border-2 bg-transparent border-black py-2 px-2
     
}



